@import url("https://fonts.googleapis.com/css2?family=Montaga&display=swap");

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  /* 1 */
  vertical-align: middle;
  display: inline-block;
}

/*Navbar*/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-top: 1.5rem;
  background: #335c67;
}

/*Section Home Starts*/

.home-container {
  position: relative;
  min-height: 100vh;
  background: #335c67;
  display: flex;
  flex-direction: column;
}

.home-title {
  z-index: 10;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.home-title-text {
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.image-title {
  z-index: ;
  display: flex;
  width: 30rem;
  justify-content: center;
  gap: 4rem;
}

/*Section Home Ends*/
/*Section Profie Starts*/

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: #fff3b0;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.profile-content-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/*Section Profile Ends*/

/*Section Our Story Starts */

.story-container {
  background: #fff3b0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
}
.story-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 4rem;
}

.story-paragraph {
  max-width: 42rem;
}

story-content-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.story-content-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.story-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: #fff3b0;
}

/*Section Our Story Ends */

/*Section Place Starts */

.place-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: #fff3b0;
  padding: 4rem;
}

.place-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-akad {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 1rem;
}

.akad-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.akad-text-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.akad-paragraph {
  max-width: 42rem;
}

.place-resepsi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 1rem;
}

.resepsi-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.resepsi-text-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resepsi-paragraph {
  max-width: 42rem;
}

/*Section Place Ends */
/*Section RSVP Start */

.reception-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: #335c67;
  padding: 8rem;
}

.reception-title {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.reception-content {
  align-items: center;
  justify-content: center;
  gap: 4rem;
  display: flex;
  flex-direction: row;
}

.reception-msg{
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  justify-content: between;
}

.reception-profile{
  display: flex;
  flex-direction: row;
  aling-items: center;
  justify-content: center;
  gap: 1rem;
}

/*Section RSVP Ends */

.place-yellow {
  background: #fff3b0;
}
.place-green,
nav {
  background: #335c67;
}

h2 {
  color: #000;
  font-family: Montaga;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

h3 {
  color: #000;
  font-family: Montaga;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

h4 {
  color: var(--neutral-text-primary, #2b1105);

  /* Heading Medium (H2)/Desktop */
  font-family: Montaga;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 56px */
  margin: 0;
}

h5 {
  color: #000;
  font-family: Montaga;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 66.667% */
  margin: 0;
}

h6 {
  color: #000;
  text-align: center;
  font-family: Montaga;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.comment-name {
  color: #000;
  font-family: Montaga;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1rem
}

.card-form {
  display: flex;
  padding: 47px 58.463px 76px 51.537px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #fff3b0;
  gap: 4rem;
}

p {
  color: var(--neutral-text-primary, #2b1105);
  text-align: justify;

  /* Text Base/All Breakpoints */
  font-family: Montaga;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.span-location {
  color: var(--wedding-colors-primary, #c6754d);

  /* Heading All Caps (H6)/Desktop */
  font-family: Montaga;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 18px */
  align-self: stretch;
}

.place-photo {
  width: 40rem;
}
.story-photo {
  width: 50rem;
}

.profile-photo {
  width: 15rem;
}

.comment-photo {
  width: 5rem;
}

.comment-card {
  display: flex;
  width: 600px;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 10px;
  background: #fff3b0;
}

.logo-nav {
  width: 3rem;
}

.nav-text {
  color: #fff;
  /* Link/Nav */
  font-family: Montaga;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 145.455% */
}

.reception-text {
  color: #000;
  text-align: justify;
  /* Text Base/All Breakpoints */
  font-family: Montaga;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

section {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

home {
  min-height: 100vh;
}

.input-text {
  width: 490px;
  height: 50px;
}

.image-home {
  width: 30rem;
  opacity: 0.5;
  display: flex;
}

.button-map {
  display: flex;
  width: 10rem;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #335c67;
  color: #fff;
  font-family: Montaga;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
